.link{
    margin-top: 50px;
    text-align: center;
    a{
        display: inline-block;
        font-size: rem(14);
        padding: 5px 10px;
        border: 1px solid #999;
        border-radius: 50px;
        width: 100px;
        text-align: center;
        line-height: 1em;
        transition: all .3s;

        &:hover{
            background: #333;
            color: #fff;
            box-shadow: 5px 5px 15px -5px #777777;
        }
    }
}