html{
    font-size: 100%;
}

body{
    line-height: 1.6;
	overflow-x: hidden;
    background: #ffffff;
	color: #333;
    letter-spacing: .01em;
    transition: all 0.5s ;
    box-sizing: border-box;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,'Yu Gothic', Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;;
}

a:hover{
    transition: .3s;
    opacity: .8;
}

img{
    width: 100%;
    vertical-align: bottom;
}